Documents/MetaDataIO/MetadataIO-distr-33.0.3-bin/repos/src/flows/Calculate_Tip-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approve_Opportunity</name>
        <label>Approve Opportunity</label>
        <locationX>638</locationX>
        <locationY>77</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Submit_Exception</targetReference>
        </faultConnector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Approval_Process_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignDescription</name>
        <label>assignDescription</label>
        <locationX>532</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>oL.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STAMPED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToNewCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignToNewCollection</name>
        <label>assignToNewCollection</label>
        <locationX>488</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>sNewOppList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_for_new_opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NotStamped1</name>
        <label>NotStamped</label>
        <locationX>670</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>oL.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotStamped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignToNewCollection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Excellent</name>
        <choiceText>Excellent</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>20.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Fair</name>
        <choiceText>Fair</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Good</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Poor</name>
        <choiceText>Poor</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>NotStamped</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Stamped</stringValue>
        </value>
    </constants>
    <constants>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005o0000000M692</stringValue>
        </value>
    </constants>
    <constants>
        <name>STAMPED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>STAMPED</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_for_stage</name>
        <label>check for stage</label>
        <locationX>452</locationX>
        <locationY>187</locationY>
        <defaultConnector>
            <targetReference>LE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WhatHoLog</defaultConnectorLabel>
        <rules>
            <name>Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oL.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDescription</targetReference>
            </connector>
            <label>Log</label>
        </rules>
        <rules>
            <name>DontLog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oL.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Negotiation/Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotStamped1</targetReference>
            </connector>
            <label>DontLog</label>
        </rules>
    </decisions>
    <description>Calculate Tip</description>
    <label>Calculate Tip v2</label>
    <loops>
        <name>Look_for_new_opportunities</name>
        <label>Look for new opportunities</label>
        <locationX>56</locationX>
        <locationY>175</locationY>
        <assignNextValueToReference>oL</assignNextValueToReference>
        <collectionReference>oppList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_description</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_Srikants_Opportunities</name>
        <label>Lookup Srikants Opportunities</label>
        <locationX>237</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_for_new_opportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LE</targetReference>
        </faultConnector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppList</outputReference>
        <queriedFields>Amount</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_description</name>
        <label>update description</label>
        <locationX>51</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Loop_Exception</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LE</targetReference>
        </faultConnector>
        <inputReference>sNewOppList</inputReference>
    </recordUpdates>
    <screens>
        <name>LE</name>
        <label>LE</label>
        <locationX>243</locationX>
        <locationY>429</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LLLEE</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Loop_Exception</name>
        <label>Loop Exception</label>
        <locationX>52</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoopExc</name>
            <fieldText>{!$Flow.CurrentDateTime}{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <description>Capture bill amount and service quality</description>
        <name>Opp_ID</name>
        <label>Opportunity ID</label>
        <locationX>50</locationX>
        <locationY>89</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_Srikants_Opportunities</targetReference>
        </connector>
        <fields>
            <name>Opportunity_ID</name>
            <dataType>String</dataType>
            <fieldText>Opportunity ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Approval_Process_ID</name>
            <dataType>String</dataType>
            <fieldText>Approval Process ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Submit_Exception</name>
        <label>Submit Exception</label>
        <locationX>861</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmitException</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Opp_ID</startElementReference>
    <variables>
        <name>oL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>sNewOppList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
