Documents/MetaDataIO/MetadataIO-distr-33.0.3-bin/repos/src/flows/YoFlow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>NoPeace</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Peace</stringValue>
        </value>
    </constants>
    <constants>
        <name>Peace</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Peace</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Yo_Decision</name>
        <label>Yo Decision</label>
        <locationX>218</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>If_No_Peace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Peace</defaultConnectorLabel>
        <rules>
            <name>YoPeace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YoResponse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Peace</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Peace</targetReference>
            </connector>
            <label>YoPeace</label>
        </rules>
    </decisions>
    <label>YoFlow</label>
    <processType>Flow</processType>
    <screens>
        <name>If_No_Peace</name>
        <label>If No Peace</label>
        <locationX>452</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sorry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Sorry to hear</stringValue>
            </defaultValue>
            <fieldText>Sorry</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>If_Peace</name>
        <label>If Peace</label>
        <locationX>446</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Glad</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Glad to hear</stringValue>
            </defaultValue>
            <fieldText>Glad</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Yo</name>
        <label>Yo?</label>
        <locationX>105</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Yo_Decision</targetReference>
        </connector>
        <fields>
            <name>YoResponse</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Peace</stringValue>
            </defaultValue>
            <fieldText>YoResponse</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Yo</startElementReference>
    <textTemplates>
        <name>PeaceText</name>
        <text>{!YoResponse}</text>
    </textTemplates>
</Flow>
